@import "rounded";

$color1:blue;
$color2:yellow;
$color3:red;

$std-width:20px;

.todos{
    padding:$std-width - 10;
    margin:10px;
    border:1px solid $color1;
    @include rounded(5px);
    background:$color3;


  .todo{
    padding:$std-width * 2;
    margin:10px;
    border:1px solid $color1;

    @include rounded(3px);

    background:$color2;
  }
}